<div style="position: fixed; bottom: 0; height: 50px; width:100%; background-color:green; vertival-align: middle; text-align: center; color:#fff">
  <p>© Sören Lehmann, Christopher Huntscha - All rights reserved.</p>
</div>
