<div id="menue">
	<div style="height: 100%; width: 940px; margin-right:auto; margin-left:auto;">
	<img src="../img/logo.png" alt="" class="img-responsive">
		<table border="0" height="100">
		  <tr>
			<td valign="middle" width="120" align="center"><a href="/">Startseite</a></td>
			<td valign="middle" width="120" align="center"><a href="/offers">Anzeigen</a></td>
        	<td valign="middle" width="120" align="center"><a href="/loggedin">Login</a></td>
		  </tr>
		</table>
		
	</div>
</div>