<!DOCTYPE html>

<html lang="de" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <% include ../elements/head.ejs %>
	<title>WGhilfe - Startseite</title>
</head>
<body>
    <header>
        <% include ../elements/header.ejs %>
    </header>
	<main>
		<div id="content">
			<span class="headline">Willkommen auf WGhilfe!</span>
			<hr style="margin-bottom:40px;">
			<p>Ihr Wohngemeinschaftsverzeichnis als effektiver Gehilfe!</p>
			<br>
			<span class="headline">Anzeigen finden</span>
			<hr style="margin-bottom:40px;">
			<p>Über den Reiter "Anzeigen" kommen Sie zu einer Übersicht unserer WG-Anzeigen. Die Suchleiste ermöglicht es Ihnen nach Stadtnamen der Anzeige zu filtern, um sich so zum Beispiel alle Anzeigen in einer Stadt Ihrer Nähe anzeigen zu lassen. Wenn Sie auf die Detailseite einer Anzeige gehen, finden Sie dort alle Informationen aufgelistet.</p>
			<br>
			<span class="headline">Anzeigen erstellen</span>
			<hr style="margin-bottom:40px;">
			<p>Der Reiter "Login" bringt Sie zum Loginbereich. Hier können Sie sich mit Ihren Anmeldedaten einloggen und im Anschluss eigene Anzeigen im Nutzerbereich erstellen.</p>
		</div>
	</main>
    <footer>
        <% include ../elements/footer.ejs %>
    </footer>
</body>
</html>
